{
    "root": true,
    "env": {
        "browser": true,
        "es2021": true
    },
    "extends": [
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "moduleDirectory": [
                    "node_modules",
                    "src/"
                ]
            }
        }
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "impliedStrict": true
        },
        "ecmaVersion": 12
    },
    "plugins": [
        "prettier",
        "react",
        "react-hooks"
    ],
    "rules": {
        
    }
}